<section class="gp_cards_container" id="j_cardsContainer">
  <div class="inner">
    <div class="gp_cards_actions">
      
    </div>
    <ul class="gp_cards" id="j_cards">
      <% @timelines.each do |t| %>
        <% card = t.card %>
        <li>
            <div class="gp_cards_img">
              <span class="gp_cards_type label label-default"><%= t.card.card_type_name %></span>
              <a href="javascript:;" class="gp_cards_timeline j_to" data-time="<%= t.at_time %>">
                <span class="label label-info">
                  to <br>
                  <%= t.at_time %> s
                </span>
              </a>
              <%= link_to card_url(card), target: "_blank" do %>
                <%= image_tag thumb_image_path(card), class: "img-thumbnail" %>
              <% end %>
            </div>
            <p class="gp_cards_title"><%= card.title %></p>
            <p class="gp_cards_desc"><%= card.desc %></p>
        </li>
      <% end %>
    </ul>
  </div>
</section>