<ul class="nav nav-pills">
  <%= nav_link "全部资料卡", console_cards_path %>
  <% CardType.all.each do |card_type| %>
    <%= nav_link card_type.name, console_card_type_cards_path(card_type) %>
  <% end %>
</ul>

<hr>

<%= if_data_present(@cards) do %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>标题</th>
          <th>分类</th>
          <th>新建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
          <tr>
            <td><%= card.title %></td>
            <td><%= card.card_type.name if card.card_type.present? %></td>
            <td><%= card.created_at %></td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to edit_console_card_path(card), class: "btn btn-default" do %>
                  <span class="glyphicon glyphicon-edit"></span> 编辑
                <% end %>
                <%= link_to console_card_path(card), method: :delete, class: "btn btn-danger", confirm: "确定要删除么？" do %>
                  <span class="glyphicon glyphicon-remove-circle"></span> 删除
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @cards, :theme => 'bootstrap' %>
<% end %>