<p class="lead">
  管理资料卡 - <%= link_to @volume.title, volume_url(@volume), target: "_blank" %>
  <small>/ <%= link_to "返回编辑节目", edit_console_volume_url(@volume) %></small>
</p>


<div class="row">
  <div class="col-sm-6">
    <div id="j_resourceBox">

    </div>
    <hr>
    <div id="j_searchCard">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="j_inputSearch" placeholder="查找资料卡" />
          <button id="j_refreshCards" class="btn btn-default">更新所有Card</button>
        </div>
      </div>
      <p>
      </p>
      <div class="pct_cardsList">
        <table class="table table-hover table-bordered">
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="pct_timelinesList">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <th>时间</th>
            <th>标题</th>
            <th>操作</th>
          </thead>
          <tbody id="j_timelineList"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div id="j_tip" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="mySmallModalLabel">提醒</h4>
      </div>
      <div class="modal-body">
        无效的资源地址。
      </div>
    </div>
  </div>
</div>



<script type="text/template" id="j_resourceTemplate">
  [% if(mode === 'edit'){ %]
    <div class="form-inline" style="">
      <div class="form-group">
        <input class="form-control", placeholder: "资源地址", value: "[%= value %]" />
      </div>
      <button type="button" id="j_btnConfirmResource" data-loading-text="Loading..." class="btn btn-default">确定</button>
      [% if(value !== ''){ %]
        <button type="button" id="j_btnCancelResource" class="btn btn-default">取消</button>
      [% } %]
    </div>
  [% }else if(mode === 'show'){ %]
    <div>
      <div>
        <!-- http://c.tangsuanradio.com/gamecores/gadiovol102.mp3 -->
        <audio id="j_player" src="[%= value %]" controls autoplay>
          Your browser does not support the audio element
        </audio>
        <p style="word-break:break-all;word-wrap:break-word;">
          <button type="button" id="j_btnEditResource" class="btn btn-xs btn-default">编辑</button>
          <em>[%= value %]</em>
        </p> 
        <p>
          <span class="label label-default">总时长度： <strong id="j_info_total">~</strong></span> 
          <span class="label label-primary">目前进度： <strong id="j_info_current">~</strong></span>
        </p>
      </div>
    </div>
  [% } %]
</script>

<script type="text/template" id="j_timelineTemplate">
  <td>[%= at_time %]</td>
  <td>[%= card_title %]</td>
  <td> <button type="button" class="btn btn-xs btn-default j_delTimeline">删除</button> </td>
</script>

<script type="text/template" id="j_cardTemplate">
  <td>[%= card_type_name %]</td>
  <td>[%= title %]</td>
  <td>
    <a href="/console/cards/[%= id %]/edit" target="_blank" class="btn btn-xs btn-info">编辑</a>
    <button type="button" class="btn btn-xs btn-primary j_addCard">添加</button>
  </td>
</script>

<%= content_for :stylesheets do %>
<style type="text/css">
  .pct_cardsList, .pct_timelinesList {
    overflow-y: auto;
    height: 500px;
  }
  .pct_cardsList {
    height: 318px;
  }
</style>
<% end %>

<%= content_for :prepare_javascripts do %>
  <script type="text/javascript">
    _DATA_ = {
      pathUpdateResource: '<%= update_resource_console_volume_path(@volume) %>',
      resourceVal: '<%= @volume.resource %>',
      pathVolTimelines: '<%= console_volume_timelines_path(@volume) %>',
      volId: '<%= @volume.id %>',
      pathCards: '<%= console_cards_path %>'
    }
  </script>
<% end %>


