<section>
  <div class="gp_thumb">
    <%= image_tag thumb_image_path(@vol, :hl), class: "" %>
  </div>
  <h1>
    <%= @vol.title %>
    <small>
      <%= link_to @vol.resource do %>
        <span class="glyphicon glyphicon-download-alt"></span> 下载
      <% end %>
    </small>
  </h1>

  <%= render partial: "shared/tags", locals: { tags: @tags, belongto_id: @vol.id, belongto_type: 'Volume' } %>

  <p>
    <blockquote>
      <%= @vol.desc %>
    </blockquote>
  </p>
  <section>
    <%= @vol_content %>
  </section>
</section>

<% content_for :main_title, "#{@vol.title}" %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    (function(){
      var sCards;
      var listCards = $('#j_cards');

      $(function(){
        var itemsCards = listCards.find('li');
        var elemPlayer = $("#j_player");

        var timeline = <%= @timelines.map { |t| t.at_time } %>;
        var currentTime;  
        
        // jplayer init
        elemPlayer.jPlayer({
          ready: function () {
            $(this).jPlayer("setMedia", {
              mp3: "<%= @vol.resource %>"
            });
          },
          cssSelectorAncestor: '#j_player_ui',
          solution: 'flash, html',
          swfPath: "/jplayer.swf",
          supplied: "mp3",

          // events
          timeupdate: function(e){
            // console.log(e.jPlayer.status.currentTime); // 250ms
            // console.log(e.jPlayer.status.duration); // buffer
            var time = parseInt(e.jPlayer.status.currentTime);
            if(time === currentTime) return;

            currentTime = time;

            var matchIndex = getMatchIndex(currentTime);
            // console.log('match: '+matchIndex);
            if( matchIndex !== -1 ){
              var currentItem = itemsCards.eq(matchIndex);
              currentItem.addClass('active').siblings().removeClass('active');
              if(!listCards.hasClass('gp_cards-manual')){
                sCards && sCards.scrollToElement(currentItem[0], 1200, null, true, IScroll.utils.ease.circular);
              }
            }
          }
        });

        $('.j_to').click(function(){
          var time = $(this).data('time');
          console.log(time);
          elemPlayer.jPlayer("play", parseInt(time)-5);
          return this;
        });

        function getMatchIndex(currentTime){
          for(var i in timeline){
            if(parseInt(currentTime) == timeline[i]){
              return i;
            }
          }
          return -1;
        }    
      });

      // onload for the iscroll, it must get all width and height
      window.onload = function(){
        // scorllbar init
        var iscrollconfig = {
          scrollbars: true,
          mouseWheel: true,
          interactiveScrollbars: true,
          shrinkScrollbars: 'scale',
          fadeScrollbars: true,
          disableMouse: true
        };

        var timeoutScroll;

        var sContainer = new IScroll('#j_container', iscrollconfig);
        var sSide = new IScroll('#j_sidebar', iscrollconfig);
        sCards = new IScroll('#j_cardsContainer', iscrollconfig);

        sCards.on('scrollStart', function(e){
          clearTimeout(timeoutScroll);
          listCards.addClass('gp_cards-manual');
        });
        sCards.on('scrollEnd', function(e){
          setTimeout(function(){
            listCards.removeClass('gp_cards-manual');
          }, 10000);
        });

        document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
      };
    })();
  </script>
<% end %>
