<section>
  <div class="gp_thumb">
    <%= image_tag thumb_image_path(@vol, :hl), class: "" %>
  </div>
  <h1>
    <%= @vol.title %>
    <small>
      <%= link_to @vol.resource do %>
        <span class="glyphicon glyphicon-download-alt"></span> 下载
      <% end %>
    </small>
  </h1>
  <p>
    <span class="label label-default">走心</span>
    <span class="label label-default">技术帝</span>
    <span class="label label-default">GTA5</span>
    <span class="label label-default">GTA</span>
  </p>
  <p>
    <blockquote>
      <%= @vol.desc %>
    </blockquote>
  </p>
  <section>
    <%= @vol_content %>
  </section>
</section>

<% content_for :main_title, "#{@vol.title}" %>

<%= content_for :javascripts do %>
  <script type="text/javascript">
    // onload for the iscroll, it must get all width and height
    window.onload = function(){
      var listCards = $('#j_cards');
      var itemsCards = listCards.find('li');

      var timeline = <%= @timelines.map { |t| t.at_time } %>;
      var currentTime;

      // scorllbar init
      var iscrollconfig = {
        scrollbars: true,
        mouseWheel: true,
        interactiveScrollbars: true,
        shrinkScrollbars: 'scale',
        fadeScrollbars: true
      };

      var sContainer = new IScroll('#j_container', iscrollconfig);
      var sCards = new IScroll('#j_cardsContainer', iscrollconfig);
      var sSide = new IScroll('#j_sidebar', iscrollconfig);

      document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);

      // jplayer init
      $("#j_player").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
            mp3: "<%= @vol.resource %>"
          });
        },
        cssSelectorAncestor: '#j_player_ui',
        solution: 'flash, html',
        swfPath: "/jplayer.swf",
        supplied: "mp3",

        // events
        timeupdate: function(e){
          // console.log(e.jPlayer.status.currentTime); // 250ms
          // console.log(e.jPlayer.status.duration); // buffer
          var time = parseInt(e.jPlayer.status.currentTime);
          if(time === currentTime) return;

          currentTime = time;

          var matchIndex = getMatchIndex(currentTime);
          console.log('match: '+matchIndex);
          if( matchIndex !== -1 ){
            var currentItem = itemsCards.eq(matchIndex);
            currentItem.addClass('active').siblings().removeClass('active');
            sCards.scrollToElement(currentItem[0], 1200, null, true, IScroll.utils.ease.circular)
          }
        }
      });

      function getMatchIndex(currentTime){
        for(var i in timeline){
          if(parseInt(currentTime) == timeline[i]){
            return i;
          }
        }
        return -1;
      }


    };
  </script>
<% end %>
