<header class="g_headerMobile">
  <a href="javascript:;" class="g_headerMobile_navBtn" id="j_mnavBtn">
    <span class="glyphicon glyphicon-cog"></span>
  </a>

  <%= link_to "", root_url, class: "g_headerMobile_logo" %>

  <nav class="g_headerMobile_nav" id="j_mnav">
    <%= render "layouts/application/header_nav" %>
  </nav>
</header>

<header class="g_header">
  <div class="container">
    <div class="g_header_main">
      <h1 class="g_logo">
        <%= link_to volume_url(latest_vol), class: "g_logo_img" do %>
          <div class="g_logo_img_hover">
            <p>
              <span class="label label-primary"><%= latest_vol.show.name %></span>
              <span class="label label-info"><%= latest_vol.show_no %></span>
            </p>
            <span class="glyphicon glyphicon-music"></span>
            <%= latest_vol.title %>
          </div> 
        <% end %>

        <%= link_to volume_url(latest_vol), class: "g_logo_img-tiny" do %>
          <span>
            <%= latest_vol.show.name %> <br>
            <%= latest_vol.show_no %>
          </span>
        <% end %>
      </h1>

      <nav class="g_nav">
        <%= render "layouts/application/header_nav" %>
      </nav>
    </div>
  </div>
</header>