<%= content_for :stylesheets do %>
  <style type="text/css">
    .media { margin-top: 50px !important; }
    .media-heading a { text-decoration: none; }

    .media>.pull-left {
      margin-right: 20px;
    }
  </style>
<% end %>

<div class="page-header">
  <h1>目前本站收录机核网推出的 <%= @shows.size %> 档频道 <small>Enjoy yourself!</small></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <% @shows.each do |show| %>
      <% 
        first_vol = show.volumes.first
        img_tag = image_tag image_url(show.thumb_image.asset.ss.url), class: "media-object img-circle"
      %>
      <div class="media">
        <% if first_vol.nil? %>
          <div class="pull-left">
            <%= img_tag %>
          </div>
        <% else %>
          <%= link_to volume_url(first_vol), class: "pull-left" do %>
            <%= img_tag %>
          <% end %>
        <% end %>

        <div class="media-body">
          <h4 class="media-heading">
            <strong>
              <% if first_vol.nil? %>
                <%= show.name %>
              <% else %>
                <%= link_to volume_url(first_vol) do %>
                  <%= show.name %> <small> / <%= first_vol.show_no %> <%= first_vol.title %> </small>
                <% end %>
              <% end %>
            </strong>
          </h4>
          <p><%= show.desc %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-offset-1 col-md-3">
    
  </div>
</div>