<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G-cores Fan Club</title>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= render partial: "layouts/specific_css" %>
  <%= yield :stylesheets %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/application/header" %>  

  <div class="g_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" role="navigation">
          <!-- <div style="height:200px; background:red;" ></div> -->
          <%= render 'layouts/application/sidebar' %>
        </div>

        <div class="col-sm-9">
          <!-- <div style="height:200px; background:blue;" ></div> -->
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>© Company 2014</p>
    </div>
  </footer>
  
  <!-- Javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :prepare_javascripts %>
  <%= render partial: "layouts/specific_js" %>
  <%= yield :javascripts %>
</body>
</html>