<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/head", locals: { layout_name: 'application' } %>
  <title><%= content_for?(:main_title) ? yield(:main_title)+" | " : "" %>G-cores Fan Club</title>
</head>
<body>
  <%= render "layouts/application/header" %>  

  <section class="g_wrapper">
    <%= render partial: "layouts/application/page_header" if content_for?(:main_title) or content_for?(:sub_title) %>
    <%= yield :wrapper_before %>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </section>

  <footer class="g_footer">
    <hr>
    <div class="container text-right">
      <p>本站为机核网非官方粉丝站</p>
      <p>All Rights Reserved 2009-2014 Game Cores</p>
      <p><small>Powered by Bootstrap</small></p>
      <p><small>支持浏览器：IE>9（IE8部分支持），以及chrome、safari、firefox的最新版</small></p>
    </div>
  </footer>
  
  <!-- Javascripts -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= render 'layouts/javascripts' %>
</body>
</html>