<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:main_title) ? yield(:main_title)+" | " : "" %>G-cores Fan Club</title>

  <!-- Stylesheets -->
  <%= stylesheet_link_tag "player", media: "all", "data-turbolinks-track" => true %>
  <%= render 'layouts/stylesheets' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/player/header" %>

  <div class="gp_waiting">
    载入中，请稍候
  </div>  

  <section class="gp_wrapper">
    <%= render partial: "layouts/player/cards" %>
    <%= render partial: "layouts/player/side_nav" %>
    <section class="gp_container" id="j_container">
      <div class="inner"> <%= yield %> </div>
    </section>
  </section>

  <%= render "layouts/player/footer" %>  
  
  <!-- Javascripts -->
  <%= javascript_include_tag "player", "data-turbolinks-track" => true %>
  <%= render 'layouts/javascripts' %>
</body>
</html>